<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<% if(user) { %>
    <h3>Hello, <%= user %></h3>
<% } %>
    <body>
        <!-- change background image depends on {type} -->
        <%- include("../partials/header.ejs") %>

        <% if (type === "Book") { %>
            <body style="background-image: url('/images/book3.jpeg'); background-size: 55vh; color:orangered;">
        <% }  else if (type === "Game") { %>
            <body style="background-image: url('/images/game2.png'); background-size: cover; color:whitesmoke;"></body>
        <% } %>

        <!-- add main element -->
        
         <main class="container-lg">

            <div>
                <% if(typeof username !== 'undefined') { %>
                    <h1>Welcome, <%= username %></h1>
                <% } %>
            </div>
        <% for(let i = 0; i < products.length; i++) { %>
            <a href="/products/<%=products[i]._id %>">
                <img src=<%= products[i].image %> alt="product image">
                </a>
        <h1><%= products[i].name %></h1>
        <h3>By <%= products[i].author %></h3>
        <h6><%= products[i].productType %></h6>
        <h3>$<%= products[i].price %></h3>

        <hr>
        <% } %>    

 
         </main>
    </body>
</html>