<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>

    <body>
        <!-- change background image depends on {type} -->
        <%- include("../partials/header2.ejs") %>
      

        <!-- add main element -->
        
         <main class="container-lg">

            <div>
                <% if(typeof username !== 'undefined') { %>
                    <h1>Welcome, <%= username %></h1>
                <% } %>
            </div>
        <% for(let i = 0; i < catalogue.length; i++) { %>
            <a href="/catalogue/">
                <img src=<%= catalogue[i].image %> alt="catalogueimage">
                </a>
        <h1><%= catalogue[i].name %></h1>
        <h3>By <%= catalogue[i].author %></h3>
        <h6><%= catalogue[i].productType %></h6>
        <h3>$<%= catalogue[i].price %></h3>

        <hr>
        <% } %>    

 
         </main>
    </body>
</html>