<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
      <main class="container-lg">

         <!-- add main element -->
          <table>
 
          <th>
             <img src=<%= product.image %> alt="product image">
         </th>
          <th>
             <h1><%= product.name %></h1>
             <h3>By <%= product.author %></h3>
             <h6><%= product.productType %></h6>
             <h3>$<%= product.price %></h3>
             <% if(usersBook) { %>
             <a href="/products/<%= product._id %>/edit"><button style="background-color: black; color: white">EDIT</button> </a>
          </br>
             <a href="/products/<%= product._id %>/delete"><button style="background-color: black; color: white">DELETE</button> </a>
          </br>
             <a href="/products/new"><button style="background-color: black; color: white">ADD NEW</button> </a>
            </th>
            <% } %>
    <form method="POST" action="/books/<%= product._id %>/comments">
        Rating: <input type="text" name="rating">
        Comment: <input type="text" name="text">
        <input type="submit" value="Submit this rating">
    </form>
    <% for(let i = 0; i < productComments.length; i++) { %>
        <h3>Rating: <%= productComments[i].rating %></h3>
        <p>Comment: <%= productComments[i].text %></p>
        <p>Rating by: <%= productCommentUsernames[i] %></p>
        <hr>
    <% } %>
         </table>
 
          <footer> Get 15% off your next order
             </br>
            Subscribe to our Newsletter
          </footer>
 
      </main>
    
    </body>
</html>